<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title>Portfolio</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="icon" type="image/png" href="images/maletin.png">
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" />
  </noscript>
</head>

<body class="is-preload">

  <!-- Page Wrapper -->
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">Solid State</a></h1>
      <nav>
        <a href="#menu">Menu</a>
      </nav>
    </header>

    <!-- Menu -->
    <nav id="menu">
      <div class="inner">
        <h2>Menu</h2>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/artemis">Artemis</a></li>
          <li><a href="/noelia">Noelia</a></li>
          <li><a href="/javier">Javier</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </div>
    </nav>

    {{{body}}}

    <section id="footer">
      <div class="inner">
        <h2 class="major">¿Te interesa nuestro trabajo?</h2>
        <p>Somos un equipo multidisciplinar listo para abordar nuevos proyectos. Puedes ver nuestros perfiles o
          contactarnos directamente.</p>

        <ul class="actions">
          <li><a href="/contacto" class="button primary">Ir a Contacto</a></li>
        </ul>

        <ul class="contact">
          <li class="icon solid fa-envelope"><a href="mailto:info@equipofreelance.com">info@equipofreelance.com</a></li>
          <li class="icon solid fa-phone">(+34) 600 000 000</li>
          <li class="icon solid fa-home">
            Instituto Nebrija<br />
            Madrid, España
          </li>
        </ul>

        <ul class="copyright">
          <li>&copy; Equipo Freelance 2DAW. Todos los derechos reservados.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>