<section id="wrapper">
  <header>
    <div class="inner">
      <h2>Contacta con nosotros</h2>
      <p>¿Tienes un proyecto en mente?</p>
      <p>¿Quieres contactar con alguno de nosotros?</p>
      <p>Las preguntas o sugerencias que tengas escribelas aquí abajo.</p>
    </div>
  </header>

  <div class="wrapper">
    <div class="inner">
      <section>
        <h3 class="major">Formulario de Contacto</h3>
        <form method="post" action="#">
          <div class="fields">
            <div class="field">
              <label for="name">Nombre</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="field">
              <label for="message">Mensaje</label>
              <textarea name="message" id="message" rows="4"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Enviar Mensaje" class="primary" /></li>
            <li><input type="reset" value="Limpiar" /></li>
          </ul>
        </form>
      </section>

    </div>
  </div>
</section>